.text-div {
  margin: 0px 20px 0px 0px;
  justify-content: center;
  position: relative;
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
}

.div-box {
  border: 1px solid pink;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  display: inline-flex;
  margin-left: 30px;
}
